.backgroundAbout {
 
    background-color: #141414

}

.centerAbout {
    width: 50%;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    color: white;
    border: 5px;
 
 }


 .centeredContainer 
{
    display: flex;
}

.firstitem {
    flex: 2;
    

}
.firstitem img {
    height: auto;
    width: 500px;
}

.seconditem {
    flex: 1;
    color: white;
}

.seconditem p {
    font-family: 'Gayathri', sans-serif;

    font-size: 25px;
}



@media (max-width: 1000px){
    .seconditem p {
        font-size: 20px;
        
    }

    .centerAbout {
        width: 60%;
        
     
     }

}

@media (max-width: 850px){
    .seconditem p {
        font-size: 16px;
    }

    .centerAbout {
        width: 70%;
        
     
     }

}

@media (max-width: 700px){
    .seconditem p {
        font-size: 14px;
    }

    .centerAbout {
        width: 75%;
        
     
     }

}

@media (max-width: 555px){
    .seconditem p {
        font-size: 12px;
    }

    .centerAbout {
        width: 77%;
        
     
     }

}


@media (max-width: 500px){
    .centerAbout {
        width: 80%;
        
     }
     .aboutflexitem1 img {
        height: auto;
        width: 300px;
    }
    

}

@media (max-width: 400px){
   
     .aboutflexitem1 img {
        height: auto;
        width: 250px;
    }
    

}

@media (max-width: 300px){
   
     .aboutflexitem1 img {
        height: auto;
        width: 200px;
    }
    

}


@media (max-height: 600px){
    .aboutflexitem2 {
        flex: 5;
        
        margin-top: -30%;
        font-weight: bold;
        font-size: 30px;
    
    }
    

}
