.hello{
    overflow-x:  hidden;
    font-family: 'Titillium Web', sans-serif;
    }

h1 {
    color: black;
}


.parallaxh1size {
    font-size: 1000%;
    font-family: 'Gayathri', sans-serif;
}

@media (max-width:1275px){
    .parallaxh1size {
        font-size: 800%;
        
    }
}

@media (max-width:1000px){
    .parallaxh1size {
        font-size: 600%;
        
    }
}

@media (max-width:600px){
    .parallaxh1size {
        font-size: 400%;
        
    }
}

@media (max-width:400px){
    .parallaxh1size {
        font-size: 350%;
        
    }
}

@media (max-width:339px){
    .parallaxh1size {
        font-size: 300%;
        
    }
}

@media (max-width:287px){
    .parallaxh1size {
        font-size: 200%;
        
    }
}


.parallaxh1size1 {
    font-family: 'Gayathri', sans-serif;
}

.aboutflexcontainer {
    display: flex;
    flex-direction: row;

}

.aboutflexitem1 {
    flex: 2;
}
.aboutflexitem1 img {
    height: auto;
    width: 400px;
}

.aboutflexitem2 {
    flex: 5;
    padding-left: 20%;
    margin-top: 10%;
    font-weight: bold;
    font-size: 30px;

}


@media (max-width: 900px){
    .aboutflexitem2 {
        
        padding-left: 5%;
        padding-top: 5%;
       
    
    }
}


@media (max-width: 710px){
    .aboutflexcontainer {
        
        flex-direction: column;
    
    }


    .aboutflexitem2 {
       
        padding-left: 0%;
        margin-top: -10%;
        margin-bottom: -25%;
    }
    .aboutflexitem1 img {
        height: auto;
        width: 350px;
    }
}