.flext {
    display: flex;
   flex-direction: row;
   font-family: 'Titillium Web', sans-serif;
   color: white;
   
}

.intro-box1 {
flex: 2;
}

.coloredLol {
    color: white;
}



.intro-box2 {
flex: 3;
margin:0 30px;
align-content: center;
color: white;


}

.muneebSize {
    width: 300px;
    height: auto;
    -webkit-filter: drop-shadow(5px 5px 5px #222222);
    filter: drop-shadow(5px 5px 5px #222222);
}







