.flext {
    display: flex;
   flex-direction: row;
   font-family: 'Titillium Web', sans-serif;
   color: white;
   
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.btn-knowme {
    
   
    font-family: 'Titillium Web', sans-serif;
   
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;


    background-color:transparent; 
    color: white; 
    border: 2px solid#37c8c6;
    padding: 7px 30px;
}
.btn-knowme:hover {
    
        background-color: #37c8c6;
        color: black;
      
}

.intro-box1 {
flex: 2;
}

.coloredLol {
    color: white;
}



.intro-box2 {
flex: 3;
margin:0 30px;
align-content: center;
color: white;


}

.muneebSize {
    width: 300px;
    height: auto;
    -webkit-filter: drop-shadow(5px 5px 5px #222222);
    filter: drop-shadow(5px 5px 5px #222222);
}

@media (max-width: 620px){

   

    .coloredLol {
        font-size: 20px;
        
    }

    .muneebSize {
        margin-left: 2em;
    }
}


@media (max-width: 850px){

    .muneebSize {
        width: 250px;
    }
}

@media (max-width: 748px){

    .muneebSize {
        width: 200px;
    }
}


@media (max-width: 620px){

    .coloredLol {
        font-size: 20px;
        
    }

    .muneebSize {
        margin-left: 2em;
        margin-top: 3em;
    }

.intro-box2 {
flex: 3;
margin:0 30px;
margin-top: 3em;
align-content: center;
color: white;
}

}



@media (max-width: 460px){

    .coloredLol {
        font-size: 10px;
        
    }


.intro-box2 {
flex: 6;
margin:0 30px;
margin-top: 6em;
align-content: center;
color: white;
}


.btn-knowme {

    font-size: 10px;
    margin: 4px 2px;
    padding: 3px 10px;


}



}


@media (max-width: 368px){

    .intro-box2 {
        flex: 6;
        margin:0 30px;
        margin-top: 5em;
        align-content: center;
        color: white;
        }


        .muneebSize {
            margin-left: 2em;
            margin-top: 3em;
        }

.btn-knowme {

    font-size: 8px;
    margin: 4px 2px;
    padding: 3px 6px;


}
}




@media (max-width: 300px){

  .coloredLol{
      display: none;
  }
  .muneebSize {
  display: none;
}




.btn-knowme {

    font-size: 30px;
    margin-bottom: 2em;
    padding: 5px 65px;


}
}









