.flexCenter {
    margin: 0 auto;
    width: 600px;
}



.MainPage {
    background-color: #141414
}


@media(max-width:768px) {

    .flexCenter {
        margin: 0 auto;
        width: 400px;
        
    }
}