.flexCenter {
    margin: 0 auto;
    width: 600px;
}



.MainPage {
    background-color: #666666;
    background-image:url('../../assets/images/greyfloral.png');
    background-repeat: repeat;
}


@media(max-width:768px) {

    .flexCenter {
        margin: 0 auto;
        width: 400px;
        
    }
}