

.container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    


    background-image:    url("./welcome_page_pic.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;   
}


#button-container {
    margin-top: 100px;
    text-align: center;
  }

#who-are-we {
    font-family: Volkorn;
    background: white;
    border: 4px solid black;
    cursor: pointer;
    width:30%;
    height: 70px;
    font-size: 200%;
    text-align: center;
  }


.title {
    color: white;
    font-size: 20px;
}

.name {
    font-weight: bold;
    color: lightgrey;
    font-size: 25px;

}

.welcomeText {
    font-weight: bold;
    color: white;
    font-size: 100px
}

